.inputBlock {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.currencyList {
  display: flex;
}

.mainCurrencies {
  display: flex;
  align-self: flex-start;
  &__item {
    padding: 20px 40px;
    border: 1px solid #cdcdcd;
    cursor: pointer;

    @media screen and (max-width: 576px) {
      font-size: 11px;
      padding: 10px 15px;
    }
    
    &:first-child {
      border-radius: 4px 0 0 4px;
    }

  }
}

.active {
  background-color: #75AF26;
  color: #fff;
}

.input {
  border: 1px solid #cdcdcd;
  font-weight: bold;
  padding: 20px;
  outline: none;
  margin-top: 20px;
  font-size: 44px;
  height: 150px;
  width: 100%;
}

.select {
  padding: 20px;
  outline: none;
  border: 1px solid #cdcdcd;
  border-radius: 0 4px 4px 0;
  @media screen and (max-width: 576px) {
    padding: 9px;
  }
}
